.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  height: 25px;
}

.navbar-lewagon .navbar-search {
  width: 35%;
}
