<div class="container text-white">
  <h1 class="text-white">Add a review</h1>
  <%= simple_form_for [@car, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

 <%= link_to "See other cars", cars_path ,class:"btn btn-primary my-2"%>
